@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$font-family: 'Titillium Web', Arial , sans-serif;

.container{
    background: #ff00e908;
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 891px) {
        width: 100%;
    }
    @media (min-width: 891px) {
        max-width: 800px;
    }
}
