footer{
    width: 80%;
    margin: 0 auto;
    @media (max-width: 891px) {
        width: 100%;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: pink;
        border: none;
        &:hover{
            color: #fff;
            box-shadow: 0 6px 24px 0 rgb(233 30 99 / 51%);
        }
        i{
            &::before{
                color: #e91e779e;
                font-size: 22px;
            }
        }
    }
}